@media (width <= 520px) {
  nav {
    display: none;
    visibility: hidden;
  }

  #Top {
    display: none;
    visibility: hidden;
  }

  #first {
    position: relative;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
  }

  .first-img {
    width: 90svw;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: -10%;
  }

  .first-img-second {
    width: 30svw;
    max-width: 800px;
    z-index: 1;
    max-width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .first-img-third {
    width: 30svw;
    max-width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 0svh;
    left: 5%;
  }

  .first-texts {
    position: absolute;
    top: 15%;
    margin-left: 5%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .first-texts p {
    font-size: 1.2rem;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
  }

  .first-texts h1 {
    font-size: 3.2rem;
    font-weight: 800;
    font-family: "Tenor Sans", sans-serif;
  }

  .first-texts h2 {
    font-size: 1.5em;
    font-family: "Exo", sans-serif;
  }

  .first-links {
    margin-top: 2%;
  }

  .first-links-items img {
    width: 2rem;
    margin-top: 1%;
    cursor: pointer;
  }

  .first-links-items img {
    width: 2.2rem;
    margin: 1%;
    cursor: pointer;
  }

  #second {
    width: 100svw;
    gap: 5%;
    align-items: center;
    background-color: var(--secundary-color);
  }

  .second-texts-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-texts-article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-texts-header h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
    font-family: "Tenor Sans", sans-serif;
  }

  .second-texts-article p {
    padding: 5%;
    color: white;
    font-size: 1.2em;
    font-family: "Tenor Sans", sans-serif;
  }

  #third {
    display: flex;
    width: 100svw;
  }

  .third-container {
    background-color: white;
    width: 100svw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 5rem;
  }

  .third-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .third-header span {
    font-size: 2.5em;
    cursor: pointer;
  }

  .third-header h1 {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .third-article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third-content-dev {
    align-items: center;
    display: flex;
    border-radius: 16px;
    padding: 1.5rem;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .third-content-tools {
    align-items: center;
    display: flex;
    border-radius: 16px;
    padding: 1.5rem;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .third-icons-dev {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem 3rem;
    margin-top: 2rem;
  }

  .third-icons-item:hover {
    transform: translateY(-20%);
    transition: 0.5s ease-in-out;
  }

  .third-icons {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .third-icons-item {
    display: flex;
    align-items: center;
    cursor: default;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
  }

  .third-icons-item p {
    font-size: 1rem;
    margin-left: 10px;
  }

  .third-icons-item img {
    width: 25px;
  }

  #fourth {
    width: 100svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .fourth-header h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .fourth-article {
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .fourth-timeline {
    display: grid;
    grid-template-columns: 1fr 0px 1fr;
  }

  .timeline-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .timeline-item.visible {
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .fourth-timeline-middle {
    position: relative;
    background-color: black;
    width: 3px;
    height: 30svh;
  }

  .fourth-timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .fourth-timeline-component {
    padding: 20px;
    background: black;
    width: 80svw;
    height: 25svh;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    border-radius: 6px;
    transition: ease-in-out 0.3s;
  }

  .fourth-timeline-content {
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .fourth-timeline-texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  .fourth-timeline-texts h1 {
    font-size: 1rem;
    font-weight: 500;
  }

  .fourth-timeline-texts h2 {
    font-size: 0.8rem;
    color: lightgray;
  }

  .fourth-timeline-texts p {
    font-size: 0.8rem;
    color: rgb(151, 151, 151);
  }

  .fourth-now {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .fourth-btn-shine {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
  }

  #fifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth-header h1 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .fifth-article {
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .fifth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 2rem;
    margin-top: 4rem;
  }

  .fifth-items {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .fifth-items.visible {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    transform: translateY(0);
  }

  .fifth-items-image.image1 {
    width: 35svw;
    height: 18svh;
    position: absolute;
    top: -2.5rem;
    right: -1.5rem;
    z-index: 2;
  }

  .fifth-items-image.image2 {
    width: 35svw;
    height: 18svh;
    position: absolute;
    top: -2.5rem;
    left: -1.5rem;
    z-index: 2;
  }

  .fifth-items-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.5s;
  }

  .fifth-items-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    opacity: 0;
    transition: 1s;
  }

  .fifth-items-image:hover p {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
  }

  .fifth-items-image img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
  }

  .fifth-items-project {
  }

  .fifth-project-item {
    width: 85svw;
    position: relative;
    height: 50svh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 5rem;
  }

  .fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }

  .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }

  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #ffff;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }

  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #ffff;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #ffff;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }

  .fancy:hover {
    color: white;
    background: black;
  }

  .fancy:hover::before {
    width: 0.9375rem;
    background: white;
  }

  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }

  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }

  .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  .container-title h1:before {
    background-color: gray;
    content: "";
    display: block;
    height: 3px;
    width: 15svw;
    margin-bottom: 5px;
  }
  .container-title h1:after {
    background-color: gray;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 15svw;
    margin-bottom: 0.25em;
  }

  .container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container-title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-top: 2rem;
    white-space: nowrap;
    padding-bottom: 13px;
  }
  .container-title h1:before {
    background-color: gray;
    content: "";
    display: block;
    height: 3px;
    width: 15svw;
    margin-bottom: 5px;
  }
  .container-title h1:after {
    background-color: gray;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 15svw;
    margin-bottom: 0.25em;
  }

  .links {
    width: 100%;
    margin-top: 1%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .links img {
    width: 1.5rem;
    filter: invert(100%);
    margin-right: 1%;
  }

  .content {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content-localization,
  .content-contact {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .content-contact a {
    color: white !important;
  }

  .copyright {
    display: flex;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
  }

  .copyright h1 {
    margin-right: 5px;
    color: white;
    font-size: 0.5rem;
  }

  .copyright-name {
    color: gray;
    font-weight: 700;
  }
}
